---
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main class="prose lg:prose-xl mx-auto my-20">
      <h1>{frontmatter.title} Notes</h1>
      <slot />
    </main>
  </body>
</html>
